<li *ngIf="pokemon">
  <img
    [src]="
      'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' +
      (pokemon.url.length > 37 
        ? pokemon.url.slice(pokemon.url.length - 4).slice(0, 3)
        : pokemon.url.slice(pokemon.url.length - 3).slice(0, 2)) +
      '.png'
    "
    width="150"
    height="150"
    [alt]=""
  />
  <span>
    {{ pokemon.name }}
    <app-collect-button [pokemonName]="pokemon.name"
    data-toggle="tooltip" data-placement="top" title= {{pokemon.name}}
    ></app-collect-button>
  </span>
</li>
