nav {
    display: flex;
    background-image: linear-gradient(rgb(36, 177, 247),#27cafd,white);
    padding-bottom: 3%;
}
p {
    display: inline-block;
    font-family:'Pokemon Solid', sans-serif;
    font-size: 115px;
    padding-right: 100px;
}
img {
    width: 350px;
    height: 170px;
    display: inline-block;
}