<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <div *ngIf="username.errors && (username.dirty || username.touched)" class="font-color bg-white">
        <p *ngIf="username.errors?.['required']">Username is required</p>
        <p *ngIf="username.errors?.['minlength']">Username is too short</p>
        <p *ngIf="username.errors?.['pattern']">Invalid character in username</p>
    </div>
    <fieldset>
        <label for="username">Username</label>
        <input type="text" ngModel #username="ngModel"
        required minlength="5" maxlength="15" pattern="[a-zA-Z][a-zA-Z ]+"
        name="username" id="username" placeholder="Ash Ketchup">
    </fieldset>

    <button type="submit">Login</button>
</form>