p {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 35px;
}
li {
    text-decoration: none;
    display: inline-block;
    margin-left: 15px;
}
nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}