<nav>
    <ng-container *ngIf="trainer === undefined">
        <app-login-header></app-login-header>
    </ng-container>
    <ng-container *ngIf="trainer != undefined">
        <p>Trainer {{trainer.username}}'s Profile</p>
        <ul>
            <li>
                <a 
                data-toggle="tooltip" data-placement="top" title= "Go back and catch some Pokemon!"
                routerLink="/pokemon-catalogue">Pokemon Catalogue</a>
            </li>
            <li>
                <a 
                data-toggle="tooltip" data-placement="top" title= "See your Pokemon collection!"
                routerLink="/trainer">Trainer Page</a>
            </li>
        </ul>
    </ng-container>
</nav>
