<span>
  <button (click)="onCollectClick()">
    <ng-container *ngIf="!loading; else pikachu">
      <span *ngIf="isCollected; then collected; else notCollected"></span>
      <ng-template #collected>
        <img src="assets/project-images/masterball.png" alt="pokeball" width="90" height="70" />
      </ng-template>
      <ng-template #notCollected
        ><img src="assets/project-images/pokeball.png" alt="pokeball" width="90" height="70"
      /></ng-template>
    </ng-container>
    <ng-template #pikachu>
      <img src="assets/project-images/pikachu.png" width="90" height="70" />
    </ng-template>
  </button>
</span>
