footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(white,#27cafd,rgb(36, 177, 247));
    position: absolute;
    bottom: 0;
    width: 100%;
}
p {
    margin: 1.5% 1.5% 0.5% 0%;
}